.student {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .student_table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        th, td {
            padding: 12px;
            text-align: left;
            border: 1px solid rgb(218, 213, 213);
        }

        th {
            background-color: green;
            color: white;
            font-weight: bold;
        }
        tr:hover {
            background-color: grey;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}
